body {
  background-color: #ddd;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 200px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border: darkgray solid 4px;
  border-radius: 2rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  gap: 1rem;
}
